body{
    background-color: black;
    color:#3BFF00
    
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: antiquewhite;
}

a:hover{
    color: #3BFF00;
    transition: 2s all;
}

#inscreva-se-btn{
    border: 2px solid;
    
    padding: 10px;
    border-radius: 15px;

}



h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

span{
    color: antiquewhite;
}

p{
    line-height: 20px;
    max-width: 500px;
}

img{
    width: 580px;
}

form[type="submit"]{
    height: 20px;
    width: 20%;
    background-color: #3BFF00;
    color: aliceblue;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}


input{
    margin-top: 20px;
    height: 15px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}


